spring:
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
  datasource:
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 20000
      idle-timeout: 300000

server:
  port: 8080
  error:
    include-message: never

logging:
  level:
    root: WARN
    com.windchill: INFO
